{%  extends 'accounts/base.html' %}
{% block content %}
{%  include 'accounts/status.html' %}

<h3>User Profile</h3>

<br />
<div class="row">
  <div class="col">
    <div class="card card-body">
      <form method="get">
        {{myFilter.form}}
        <button class="btn btn-primary" type="submit">Search</button>
      </form>
    </div>
  </div>
</div>
<br />

<div class="row">
  <div class="col-md">
    <div class="card card-body">
      <table class="table table-sm">
        <tr>
          <th>Product</th>
          <th>Category</th>
          <th>Date Orderd</th>
          <th>Status</th>
        </tr>
        {% for order in page_obj %}
        <tr>
          <td>{{order.product}}</td>
          <td>{{order.product.category}}</td>
          <td>{{order.date_created}}</td>
          <td>{{order.status}}</td>
        </tr>
        {% endfor %}
      </table>
      <div class="pagination">
        <span class="step-links">
          {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}

          <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
          </span>

          {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
        </span>
      </div>
    </div>
  </div>
</div>

{% endblock content %}